.circlePath {
  mix-blend-mode: multiply;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.hidden {
  display: none;
}


.container {
  width: 60rem;
  margin: 0 auto;
  grid-template-columns: 25rem 35rem;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.grid {
  isolation: isolate;
  width: 25rem;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
