
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hidden {
  display: none;
}

.container {
  width: 60rem;
  margin: 0 auto;
  grid-template-columns: 25rem 35rem;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.download {
  height: 2rem;
  width: 8rem;
  background-color: white;
  border: black solid 0.1rem;
  margin: auto;
  margin-top: 1rem;
  display: grid;
  place-content: center;
}

.download:hover {
  background-color: black;
  color: white;
}